* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #424242;
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  outline: none;
}

img {
  width: 100%;
}

.control-icons {
  color: #424242;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 1rem;
}

.control-icons:hover {
  color: #016a78;
  transform: scale(1.1);
}

.sale-sticker {
  position: absolute;
  top: 25%;
  right: 1rem;
  z-index: 1;
  color: #f6f6f6;
  padding: 0.05rem 0.35rem;
}

.sale-sticker::before {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform: skewX(-15deg);
  background-color: #d80e2f;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.top-seller-sticker {
  position: absolute;
  top: 25%;
  right: 1rem;
  z-index: 1;
  color: #f6f6f6;
  padding: 0.05rem 0.35rem;
  top: 35%;
}

.top-seller-sticker::before {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform: skewX(-15deg);
  background-color: #2ec4b6;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

/*? SPINNER */
.spinner-container {
  margin: auto;
  width: 2rem;
  grid-column: span 3;
}

.spinner {
  margin: 2.5rem auto;
  text-align: center;
  height: 2rem;
  width: 2rem;
  color: #016a78;
  transform-origin: center center;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error-container {
  grid-column: span 3;
  color: #d80e2f;
  text-align: center;
}

.error-container .error-sign {
  font-size: 2.5rem;
  margin-top: 3rem;
}

nav {
  background-color: #f6f6f6;
}

.nav-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.nav-header {
  position: relative;
}

.nav-header::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  transform: skewX(-15deg);
  background-color: #016a78;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.nav-header h1 {
  position: relative;
  z-index: 2;
  font-weight: 300;
  padding: 0.5rem;
}

.nav-header h1 a {
  color: #bbb;
}

.nav-header h1 a span {
  font-weight: 500;
  color: #f6f6f6;
}

.nav-links {
  display: flex;
}

.nav-links li a {
  padding: 1rem;
  margin: 1rem;
  border-bottom: 1px solid #ccc;
}

.nav-links li a:hover {
  color: #016a78;
  border-bottom: 1px solid #016a78;
}

.nav-controls .control-icons {
  color: #424242;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 1rem;
}

.nav-controls .control-icons:hover {
  color: #016a78;
  transform: scale(1.1);
}

.sale-banner {
  background-color: #016a78;
  color: #f6f6f6;
  padding: 0.5rem;
  text-align: center;
}

.sale-banner a {
  color: #f6f6f6;
  text-decoration: underline;
}

.menu-bars {
  color: #f6f6f6;
  background-color: #016a78;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  display: grid;
  place-content: center;
  padding: 5px;
  height: fit-content;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 800px) {
  .nav-center {
    flex-direction: column;
  }
  .menu-bars {
    display: grid;
  }
  .nav-links {
    height: 0;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    text-align: right;
    transition: all 0.5s ease-in-out;
  }
  .nav-links li {
    margin: 0.5rem;
  }
  .nav-links li a {
    padding: 0;
    display: block;
    width: 100%;
    margin: 0;
  }
  .mobile-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.active-menu {
  height: 8rem;
}

#hero {
  position: relative;
  display: grid;
  place-content: center;
  background: #016a78;
  height: 50vh;
}

#hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/bg.jpg) no-repeat bottom/cover;
  height: 100%;
  opacity: 0.7;
}

.main-banner {
  position: relative;
  color: #fff;
  border: 10px solid #fff;
  border-radius: 10px;
  padding: 2rem;
  width: 40vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.main-banner h1 {
  font-size: 4.5rem;
  text-shadow: 2px 2px 2px #000000;
}

.main-banner h2 {
  font-size: 2rem;
  text-align: right;
  text-shadow: 2px 2px 2px #000000;
}

.list-title {
  width: 90vw;
  margin: 2rem auto;
}

.list {
  width: 90vw;
  margin: 2rem auto;
}

.top-sellers {
  background-color: #f6f6f6;
}

.list-item {
  background-color: #f6f6f6;
  border: 1px solid #eee;
  padding: 1rem 1rem 0.25rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 1rem;
}

.list-item:hover .img-container {
  transition: all 0.15s ease-in-out;
  opacity: 0.6;
}

.list-item:hover a {
  color: #016a78;
}

.list-item h3 {
  color: #424242;
  font-size: 0.95rem;
}

.list-item .type-rating {
  color: #999;
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;
}

.list-item .type-rating .rating-number {
  margin-left: 5px;
}

.list-item .type-rating .star-icon {
  color: #ffcc02;
}

.list-item .img-container {
  max-width: 250px;
}

.list-item .info-box {
  width: 100%;
}

.list-item .price-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.list-item .price-box .price h2 {
  color: #016a78;
}

.list-item .price-box .controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 0.5rem;
  font-size: 1.5rem;
  color: #424242;
}

.list-item .price-box .controls .control-icons {
  margin: 0;
}

.list-item .stock-icon {
  color: #016a78;
}
