.admin-container {
  margin-left: 280px;
  position: relative;
}
.admin-header {
  background-color: $main-color;
  color: $light-bg;
  margin-left: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1rem;
  .admin-header-icons {
    @include reset-btn();
    color: $light-bg;
    font-size: 1.5rem;
    margin: 0.5rem;
  }
}
.admin-profile {
  text-align: center;
  margin-bottom: 5rem;
}
.admin-profile-img-container {
  margin: auto;
  width: 75px;
  img {
    border-radius: 50%;
  }
}
.admin-sidebar.collapsed .admin-profile h2 {
  visibility: hidden;
}
.admin-sidebar.collapsed .admin-profile h3 {
  font-size: 0.75rem;
}
.admin-sidebar.collapsed .admin-profile-img-container {
  width: 45px;
}

.minimize-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem;
  .minimize-menu-btn {
    cursor: pointer;
  }
}
