.admin-container {
  margin-left: 280px;
  position: relative;
  transition: all 0.25s;
  background-color: #e8edf7;
  min-height: 100vh;
}
.admin-container.collapsed {
  margin-left: 62px;
}
.admin-welcome-title {
  padding: 1rem;
  margin: 0;
}
//? ADMIN HEADER
.admin-header {
  background-color: $main-color;
  color: $light-bg;
  margin-left: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1rem;
  transition: all 0.25s;
  .admin-header-icons {
    @include reset-btn();
    color: $light-bg;
    font-size: 1.5rem;
    margin: 0.5rem;
  }
}
.admin-header.collapsed {
  margin-left: 62px;
}

//?ADMIN PROFILE
.admin-profile {
  text-align: center;
  margin-bottom: 5rem;
}
.admin-profile-img-container {
  margin: auto;
  width: 75px;
  img {
    border-radius: 50%;
  }
}
.admin-sidebar.collapsed .admin-profile h2 {
  visibility: hidden;
}
.admin-sidebar.collapsed .admin-profile h3 {
  font-size: 0.75rem;
}
.admin-sidebar.collapsed .admin-profile-img-container {
  width: 45px;
}

//?COLLAPSE MENU
.collapse-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem;
  .collapse-menu-btn {
    cursor: pointer;
  }
}

//? DARKMODE TOGGLE
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  outline: none;
}
.switch input {
  position: absolute;
  top: -99999px;
  left: -99999px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #2196f3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
