.admin-sidebar {
  background-color: $secondary-color;
  color: $light-bg;
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
  transition: all 0.25s;
}
.admin-sidebar.collapsed {
  width: 62px;
}
.admin-sidebar.collapsed .admin-menu-icons {
  margin: 0.5rem;
}

.admin-sidebar.collapsed .sidebar-text {
  display: none;
}

//?SIDE MENU
.admin-side-menu {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $light-bg;
  border-bottom: 1px solid $light-bg;
  .admin-menu-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    color: $light-bg;

    &:hover {
      background-color: $main-color;
      cursor: pointer;
    }
  }
}
.sidebar-text {
  display: inline-block;
  padding: 0.5rem;
  width: 100%;
  a {
    color: $light-bg;
  }
}

.admin-menu-icons {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
//?DROPDOWN
.dropdown-menu {
  background-color: darken($secondary-color, 10%);
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;

  .dropdown-menu-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    a,
    p {
      display: inline-block;
      padding: 0.5rem;
      width: 100%;
      color: $light-bg;
      font-size: 0.9rem;
    }
    &:hover {
      background-color: darken($secondary-color, 5%);
      cursor: pointer;
    }
  }
}
.toggle-dropdown {
  height: auto;
  max-height: 17vh;
}

.dropdown-icon {
  transition: all 0.5s ease-in-out;
}

.rotate-icon {
  transform: rotate(180deg);
}
