.nav-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-header {
  position: relative;
  &::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: skewX(-15deg);
    background-color: $main-color;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  }
  h1 {
    padding: 0.5rem;
    font-weight: 300;
    color: #bbb;
    span {
      font-weight: 500;
      color: $light-bg;
    }
  }
}
