.products {
  @include container();
  .container {
    display: flex;

    //Loading screen
    .spinner-container {
      flex: 3;
      display: flex;
    }
    //Error screen
    .error-container {
      flex: 3;
    }
  }
}

.products-list {
  flex: 3;
  .product-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
