.result-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  @include top-bottom-border();
}
.display-options {
  button {
    @include secondary-btn();
    &:hover {
      background-color: $main-color;
    }
  }
  .active-btn {
    background-color: $main-color;
  }
}
.sorting-options {
  label {
    margin-right: 5px;
  }
}

.toggle-filters {
  @include primary-btn();
  display: none;
}
//?PAGINATION
.pagination {
  display: flex;
  justify-content: center;
  button {
    border: 1px solid $main-color;
    background-color: transparent;
    border-radius: 5px;
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
    font-weight: 500;
    color: $main-color;
    cursor: pointer;
    &:hover {
      color: $light-bg;
      background-color: $main-color;
    }
  }
  .active-page {
    color: $light-bg;
    background-color: $main-color;
    cursor: default;
  }
  .ellipsis {
    cursor: default;
    &:hover {
      border-color: $main-color;
      color: $main-color;
      background-color: transparent;
    }
  }
}

@media screen and (max-width: 875px) {
  .display-options {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .toggle-filters {
    display: block;
    margin: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .result-options {
    flex-direction: column-reverse;
  }
  .pagination {
    margin-top: 1rem;
  }
}
