.single-product-header {
  @include container();
  header {
    @include top-bottom-border();
    small {
      color: $muted;
      margin-right: 1rem;
    }
    .type-rating {
      max-width: 250px;
    }
  }
  .info-banner {
    position: relative;
    padding: 0.75rem;
    display: flex;

    .sale-sticker,
    .top-seller-sticker {
      @include sticker-reset();
    }
  }
  .header-content {
    display: flex;
  }
  .product-left {
    flex: 1;
    @include border-bg();
    margin-right: 1rem;
    background-color: $light-bg;

    .slider-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      .single-img-container {
        max-width: 500px;
      }
      .left-arrow {
        @include arrows(left);
      }
      .right-arrow {
        @include arrows(right);
      }
      .slide {
        opacity: 0;
        transition-duration: 1s ease;
      }

      .slide.active {
        opacity: 1;
        transition-duration: 1s;
      }
    }
  }
  .product-right {
    flex: 1;
    margin-left: 1rem;
    .price-section {
      @include border-bg();
      border-bottom: none;
      h2 {
        font-size: 2.5rem;
        color: $main-color;
      }
    }
    .buy-section {
      @include border-bg();
      border-top: none;

      form {
        input {
          margin: 0 0.5rem;
          width: 2rem;
        }
        button {
          @include primary-btn();
          font-size: 1rem;

          svg {
            margin-right: 5px;
            vertical-align: middle;
          }
          &:hover {
            @include secondary-btn();
          }
        }
        small {
          color: $muted;
        }
      }
      .add-to-compare {
        @include icon-hover();
        font-size: 1.5rem;
        margin: 0.5rem;
      }
    }
    .short-description {
      margin-top: 1rem;
      color: $secondary-color;
      line-height: 1.75rem;

      .read-more {
        margin-left: 0.5rem;
        border: none;
        color: $main-color;
        text-decoration: underline;
        background-color: transparent;
        cursor: pointer;
        letter-spacing: 3px;
        &:hover {
          color: lighten($main-color, 15%);
        }
      }
    }
  }
}
