.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 2s ease-in-out infinite alternate;
  border-radius: 3px;
}
.skeleton-title {
  width: 90%;
  height: 21px;
  margin: 0.5rem 0;
  align-self: flex-start;
}
.skeleton-price {
  width: 25%;
  height: 35px;
  margin: 0.5rem 0;
  align-self: flex-start;
}
.skeleton-text-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.skeleton-text {
  width: 80px;
  height: 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
}
.skeleton-star-icon {
  width: 35%;
  height: 12px;
}
.skeleton-icon {
  height: 24px;
  width: 24px;
}
.skeleton-text:last-child {
  margin-bottom: 0;
  width: 80%;
}
.skeleton-price-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.skeleton-icon-wrapper {
  display: flex;
  justify-content: space-around;
  width: 25%;
}

@keyframes skeleton-loading {
  0% {
    background-color: #a3b8c2;
  }

  50% {
    background-color: #f0f3f5;
  }

  100% {
    background-color: #a3b8c2;
  }
}
