.overlay {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
  z-index: 8;
  display: grid;
  place-content: center;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}
.msg-container {
  @include border-bg();
  padding: 2rem;
  border-radius: 25px;

  h2 {
    @include top-bottom-border();
    color: $main-color;
  }
  .summary-msg {
    margin: 1rem 0;
    span {
      font-weight: 600;
      color: $main-color;
    }
  }

  .continue-btn {
    @include secondary-btn();
    margin-right: 1rem;
  }
  .cart-btn {
    @include primary-btn();
    margin-left: 1rem;
  }
}

.show-message {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 475px) {
  .msg-container {
    max-width: 90vw;
    h2 {
      font-size: 1rem;
    }
    .summary-msg {
      font-size: 0.9rem;
    }
    .success-btn-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      .continue-btn {
        margin: 0.5rem 0;
      }
      .cart-btn {
        margin: 0.5rem 0;
      }
    }
  }
} ;
